body {
  background: linear-gradient(135deg,#021B79,#0575E6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #0575E6;
  color: white;
  border: none;
}
